%flexFilas {display: flex;
            flex-direction: row;}

%flexColumnas {display: flex;
               flex-direction: column;}     
               
%fuenteNegrita {font-weight: bold;
                font-family: 'Comic Neue', cursive;}               